.enrollment-hero-background {
    padding: 50px;
    background-color: #384863;
    color: #fff;
}

.giving-away-background {
    color: #fff;
    margin: 20px;
    padding: 20px;
    background-color: #3baac5;
}

.wants-background {
    color: #fff;
    margin: 20px;
    padding: 20px;
    background-color: #dc4966;
}